.home-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

.greeting{
color:var(--muted);
}

.username{
margin-top:6px;
}

.avatar{
width:50px;
height:50px;
border-radius:50%;
background:var(--primary);
color:black;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.xp-card{
background:var(--card);
border-radius:24px;
padding:20px;
margin-top:25px;
}

.xp-top{
display:flex;
justify-content:space-between;
}

.progress-bar{
height:10px;
background:#1f2937;
border-radius:999px;
overflow:hidden;
margin-top:15px;
}

.progress-fill{
width:62%;
height:100%;
background:var(--primary);
}

.quest-progress{
width:70%;
}

.xp-text{
margin-top:10px;
color:var(--muted);
}

.stats-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.stat-card{
background:var(--card);
border-radius:20px;
padding:20px;
text-align:center;
}

.stat-card p{
margin-top:8px;
color:var(--muted);
}

.quest-card{
background:var(--card);
border-radius:24px;
padding:20px;
margin-top:20px;
}

.quest-top{
display:flex;
justify-content:space-between;
}

.quest-top span{
color:var(--primary);
}

.quest-card h3{
margin-top:15px;
}

.quest-card p{
margin-top:10px;
color:var(--muted);
}

.quest-card small{
display:block;
margin-top:10px;
}

.daily-section{
margin-top:25px;
padding-bottom:100px;
}

.daily-section h2{
margin-bottom:15px;
}

.task{
background:var(--card);
padding:18px;
border-radius:16px;
margin-bottom:12px;
display:flex;
justify-content:space-between;
}

.task span:last-child{
color:var(--primary);
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
height:70px;
background:#0D1524;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid #1f2937;
}

.bottom-nav a{
color:#94A3B8;
text-decoration:none;
}

.bottom-nav .active{
color:var(--primary);
}
